/* src/App.css */
.App {
  text-align: center;
}

.app-content {
  display: flex;             /* Flex container */
  justify-content: flex-start; /* Align children to the left */
  gap: 20px;                  /* Space between sections */
}

.search-results {
  text-align: left;           /* Aligns text to the left */
  width: 300px;               /* Set a width as needed */
}
